extends ../layouts/default

block title
  | About

block content

  h1.page-title About ctrl
  :markdown
    **ctrl** is a content management platform for web applications. The core
    is simple and modular, solving some ever-present problems and then getting out
    of your way.

    **ctrl**'s functionality is extended with the concept of **bundles**.