extends ../layouts/default

block title
  | About

block content

  .section.section-white
    .contain
      h1.section-title About ctrl
      .body-copy
        :markdown
          **ctrl** is a content management platform for web applications. The core
          is simple and modular, solving some ever-present problems and then getting out
          of your way.