extends ../layouts/default

block title
  | Documentation

block content

  .section.section-white
    .contain
      h1.section-title Documentation
      .body-copy
        :markdown
          doc doc doc