extends ../layouts/default

block title
  | Home

block content

  .section.section-blue
    .contain
      .intro-rotator
        .page.page-one
          img.intro-logo(src='./public/images/ctrl-logo-large.png', alt='ctrl logo')
          h1.intro-title A node.js CMS just for you
      a.gh-source(href='http://github.com/serby/ctrl')
        span View the source

  .section.section-white
    .contain
      h1.section-title It’s all about control
      .body-copy
        .left-col
          p Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.
          p Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti.

        .right-col
          p Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla.
          p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci.

  .section.section-red
    .contain
      h1.section-title Features and Niceties

  .section.section-white
    .contain
      h1.section-title Getting started